p { 
    margin: 0em 
}

main {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}

footer {
    border-top: 1px solid rgb(41, 41, 41);
    display: block;
    position: fixed;
    bottom: 0px;
    width: 750px;
    padding: 1.5em 0;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #8450a7;
    
}

a:visited, a:hover {
    color: #6750a7;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: .5em;
    padding-left: .1em;
}

.nav-list {
    list-style-type: none;
    padding-left: 0em;
    margin: 0em;
}

.nav-list li {
    display: inline-block;
}

.details > summary {
    list-style-type: none;
}

.socials li {
    margin-left: 2em; /* or use padding-left: 2em; */
}

.socials .category-label {
    margin-left: 0;
    font-weight: bold;
    list-style: none;
}

.nav-btn {
    padding: 0.5em 1em;
    margin: 0.2em;
    background-color: rgb(51, 36, 61);
    border-radius: 0px;
    color: white;
    font-weight: bold;
}

.nav-btn:hover {
    background-color: rgb(70, 50, 80);
}